extends layout
block content
  
  .formDetailsHeader
    h3 #{subTitle}
    h4(id="formID") #{form_ID}
    input(type="text", name="Search", id="search_field")
    input(type="button", name="saveChanges", value="Save All Changes", id="saveChanges")
    input(type="button", name="addRow", value="Add New Row", id="addRow")
  div#example1.handsontable
  script(src='/js/jquery.handsontable.full.js')
  script(src='/js/Handsontable_tutorial.js')